<div class="row inputs">
  <div class="small-11 small-centered columns">
    <p>Thanks for applying to volunteer at 24 Hours of Horseshoe Hell this year! Teams will be announced via email on August 16. Check your email. Trust us, it's worth it.</p>
  </div>
</div>