<div class="row">
  <div class="small-11 small-centered columns">
    <p>Nicely done! You've just created your profile, which is the first step in the application process. We'll save your profile so that you can apply again in the future without having to give us those pesky details over and over again.</p>

    <p>On to step two! An email has been sent to the email address you provided, with a link to confirm your account. Follow the directions in the email to continue with the application process.</p>

    <p>If you have trouble, or don't receive the confirmation email, drop us an email at volunteer.24hhh@gmail.com and we'll help you sort it out.</p>
  </div>
</div>