<div class="row">
  <div class="large-6 columns">
    <p>Thanks for creating a profile! An email has been sent to the email address you provided, with a link to confirm your account.</p>
    <p>Please follow the directions in the email to continue with the process. Thanks!</p>
  </div>
</div>