textarea {
  height: auto !important;
}

.error_panel {
  padding-bottom: 10px;
}

.header {
  text-align: center;
  background-color: #697069;
  height: 302px;
}

.vol-welcome {
  padding-top: 15px;
}

.inputs {
  padding-top: 20px;
}

.alert-box {
  text-align: center;
}

ul li { list-style: none; }